<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoTrack
    </title>
    <link rel="stylesheet" href="static/cssforlearn/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="fixed-top">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="#home">EcoTrack</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#home">Learn <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#news">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#prog-id">Programs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tips">Tips</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="/">Home</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <section class="home-sec" id="home">
        <div class="container">
            <div class="home-content">
                <div class="row">
                    <div class="col-lg-6 align-item-center">
                        <div class="home-info">
                            <h1>Alone we can do little, together we can do so much</h1>
                            <h2>EcoTrack: <span> creating wonders from waste, </span> the ultimate recycling hub</h2>
                            <p>Welcome to EcoTrack, your premier waste management solution that is transforming the way we think about sustainability. </p>
                            <div class="buttons">
                                <a href="#home" class="btn1">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-first order-lg-last">
                        <div class="img-sec">
                            <img src="static/cssforlearn/ito.png" alt="home-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news-sec" id="news">
        <div class="container">
            <div class="heading">
                <h2>Recent News about the Environment...</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="news-box">
                        <img src="static/img/news/news1.jpg" alt="img">
                        <h3>CCC calls on public to take tangible action vs. plastic waste</h3>
                        <p>MANILA – The Climate Change Commission (CCC) has urged the public to take action and commit to changes in their everyday lives by reducing the use of single-use plastics and promoting a circular economy by recycling them.</p>
                        <a href="https://www.pna.gov.ph/articles/1223317" class="btn1">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news-box">
                        <img src="static/img/news/news2.jpg" alt="img">
                        <h3>DENR calls for collective action to reduce plastic wastes
                        </h3>
                        <p>MANILA – The Department of Environment and Natural Resources (DENR) on Monday said the Philippines produces about 2.7 million tons of plastic waste every year and called on the public to help stop the environmental hazard.</p>
                        <a href="https://www.pna.gov.ph/articles/1223184" class="btn1">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news-box">
                        <img src="static/img/news/news3.jpg" alt="img">
                        <h3>More waste segregation efforts pushed to cut costs by 65%</h3>
                        <p>BAGUIO CITY – The city government is encouraging the public to help in further implementing and improving waste segr egation and management to help cut the city’s expenses by at least 65 percent.
                        </p>
                        <a href="https://www.pna.gov.ph/articles/1221049" class="btn1">Read More</a>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="program-sec" id="prog-id">
        <div class="container">
            <div class="heading">
                <h2>Programs and Communities for the Environment</h2>
                <p>Supporting our <span>Environmental Conservation</span> and promote <span>Sustainable</span> practices</p>
            </div>
         </div>
         <div class="program-text-container">
            <div class="program-text">
            <h3>Zero Waste Cities Asia Series</h3>
            <p> Explore how Batangas City is "Reaching New Heights Through Zero Waste" according to a report by the Global Alliance for Incinerator Alternatives (GAIA). This document likely details Batangas City's successful journey towards achieving zero waste goals, including the challenges they overcame, implemented policies, and the environmental improvements observed.</p>
          </div>
          <div class="program-text">
            <h3>Environmental Management Unit</h3>
            <p> Dive into Batangas State University's green initiatives! This webpage details the Environmental Management Unit (EMU) and its critical role in creating a sustainable campus. Explore how the EMU ensures environmental compliance, manages waste effectively, and even offers assistance to the surrounding community.</p>
          </div>
          <div class="program-text">
            <h3>Environmental Code of Batangas City</h3>
            <p> Batangas City, recognizing the pressing need for sustainable practices and environmental stewardship, established Regulation Section 84, which aims to reduce the use of any kind of plastic and Styrofoam materials in packaging within Batangas City. The proposed law provides a significant step in reducing the damaging impact of non-biodegradable garbage on the local ecosystem.</p>
          </div>
          </div>
    </section>

<section class="figure-section">
    <div class="figure-box">
        <a href="https://youtu.be/DkWTLdRDJO8" target="blank">
            <img src="static/img/batsc.jpg" alt="Image description">
        </a>
      <div class="figure-text">
        <h2>Mother Earth Foundation Batangas</h2>
      </div>
    </div>
  </section>
  
  <section class="tips-sec" id="tips">
    <div class="container">
            <div class="heading">
                <h2>Tips for the People</h2>
            </div>
    </div>
</section>

  <section class="picture-section">
    <div class="picture-container">
      <div class="picture-row">
        <div class="picture-box">
          <img src="static/cssforlearn/pic1.png" alt="Image 1">
          <h3> Reduce, Reuse, Recycle</h3>
          <p> Reduce, Reuse, Recycle to minimize the amount of waste you produce. Try to reduce your consumption of single-use items, reuse items whenever possible, and recycle materials that can be recycled.
          </p>
        </div>
        <div class="picture-box">
          <img src="static/cssforlearn/pic2.png" alt="Image 2">
          <h3> Separate Waste</h3>
          <p> Separate Waste: Sort your waste into different categories such as organic waste, recyclables, and hazardous waste. This will make it easier to dispose of each type of waste properly.
        </p>
        </div>
        <div class="picture-box">
          <img src="static/cssforlearn/pic3.png" alt="Image 3">
          <h3> Compost Organic Waste</h3>
          <p> Compost Organic Waste: Instead of throwing away food and other organic waste, consider composting them. It can help reduce the amount of waste sent to landfills and also create nutrient-rich soil for gardening.
          </p>
        </div>
      </div>
      <div class="picture-row">
        <div class="picture-box">
          <img src="static/cssforlearn/pic4.png" alt="Image 4">
          <h3> Disposal of Hazardous</h3>
          <p> Dispose of Hazardous Waste Properly: Hazardous waste such as electronics, and chemicals should never be thrown in the regular trash. Find a local hazardous waste disposal facility or event to safely dispose of these items.</p>
        </div>
        <div class="picture-box">
          <img src="static/cssforlearn/pic5.png" alt="Image 5">
          <h3> Support EcoFriendly</h3>
          <p> Support Eco-Friendly Products: Choose products that are made from sustainable materials and are easily recyclable. This can help reduce the amount of waste generated in the first place.</p>
        </div>
        <div class="picture-box">
          <img src="static/cssforlearn/pic6.png" alt="Image 6">
          <h3>Educate and Encourage</h3>
          <p> Spread awareness about proper waste disposal practices among your friends, family, and community members. Encourage them to adopt environmentally-friendly habits that can help in the environment. </p>
        </div>
      </div>
    </div>
  </section>  

        <!-- Contact Section -->
        <section class="contact-section" id="contact">
            <div class="container">
                <div class="heading">
                    <h2>Connect With Us</h2>
                    <p>Fill this form, our team will collect your <span>Wastage</span> from your place.</p>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Mobile No.">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <select name="donation" id="donation">
                                                        <option value="">Waste</option>
                                                        <option value="papers">Papers</option>
                                                        <option value="glass bottles">Glass Bottles</option>
                                                        <option value="metals">Metals</option>
                                                        <option value="plastics">Plastics</option>
                                                        <option value="e-wastes">E-Wastes</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <select name="donation" id="donation">
                                                        <option value="">Waste Type</option>
                                                        <option value="recyclable">Recyclable</option>
                                                        <option value="hazardous">Hazardous</option>
                                                        <option value="infectious">Infectious</option>
                                                        <option value="biodegradable">Biodegradable</option>
                                                        <option value="Organic">Organic</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Address">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="text" id="" cols="90" rows="1" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <a href="/details" id="learn"class="btn1 mt-5">Submit Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-one">
                        <h4>EcoTrack: The Ultimate Recycling Hub</h4>
                        <p>Address : Canlapan St. Barangay 12 Batangas </p>
                        <p>Contact No : <a href="tel: +91 98659****59">+91 98659****59</a></p>
                        <p>Email : <a href="mailto:foundation@code.com">ecotrack@code.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-two">
                        <h4>Important Links</h4>
                        <ul>
                            <li><a href="#home">Learn</a></li>
                            <li><a href="#news">News</a></li>
                            <li><a href="#prog-id">Programs</a></li>
                            <li><a href="#tips">Tips</a></li>
                            <li><a href="#contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-one">
                        <h4>Social Media</h4>
                        <div class="social">
                            <a href="#"><img src="static/img/icons/facebook.png" alt="facebook"></a>
                            <a href="#"><img src="static/img/icons/instagram.png" alt="inatagram"></a>
                            <a href="#"><img src="static/img/icons/youtube.png" alt="youtube"></a>
                            <a href="#"><img src="static/img/icons/linkedin.png" alt="linkedin"></a>
                            <a href="#"><img src="static/img/icons/gmail.png" alt="gnail"></a>
                        </div>
                        <p>Copyright &copy; 2024 | All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="static/js/script.js"></script>
</body>

</html>